---
import Layout from "../layouts/Layout.astro";

import Separator from "../components/Separator.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
	<Navbar />
	<!-- Website Title -->
	<div class="py-4">poukkin.me</div>
	<Separator />

	<!-- Bio Section -->
	<div class="py-4">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
		facilisis fermentum tortor, a consectetur turpis dapibus in. Aenean at
		diam dolor. Praesent quis ornare nibh.
	</div>

	<Separator />
	<!-- Recent Posts -->
	<div class="py-4">
		<div class="italic">RECENT POSTS</div>
		<div class="mt-2 space-y-1">
			<div>[2024-12-24] - blog post</div>
			<div>[2024-12-24] - blog post</div>
			<div>[2024-12-24] - blog post</div>
		</div>
	</div>

	<Separator />

	<!-- Featured Projects -->
	<div class="py-4">
		<div class="italic">FEATURED PROJECTS</div>
		<div class="mt-2">project 1</div>
	</div>

	<Separator />
	<Footer />

</Layout>
