---
import Layout from "../layouts/Layout.astro";
---

<Layout>
	<div class="py-4">Projects</div>
	<div class="py-4">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Maecenas facilisis fermentum tortor, a consectetur turpis
		dapibus in. Aenean at diam dolor. Praesent quis ornare nibh.
	</div>
</Layout>
