---
import "../styles/sidebar.css";
---

<div class="sidebar">
	<ul class="tree">
		<li>
			<p style="margin: 0;">
				<strong>/home/poukkin/</strong>
			</p>
			<ul class="incremental">
				<li>
					blog
					<ul class="incremental">
						<li>blog-post1</li>
						<li>blog-post2</li>
						<li>blog-post3</li>
					</ul>
				</li>
				<li>
					projects
					<ul class="incremental">
						<li>project-1</li>
						<li>project-2</li>
						<li>project-3</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
</div>
