---
// Layout.astro
interface Props {
	title?: string;
}

const { title = "/home/poukkin" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<link
			href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap"
			rel="stylesheet"
		/>
	</head>
	<body class="flex mt-4 justify-center h-screen bg-black text-white">
		<main>
			<div class="max-w-xl font-['IBM_Plex_Mono'] text-base">
				<slot />
			</div>
		</main>
	</body>
</html>
